 <p>
  <strong>Hello,</strong>
  <%= @user.name %>
</p>

 

<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>




<% if session[:user_id].present? %>
   
<% end %>  

    <%= link_to'edit', edit_user_path(current_user) %>